.info{
    text-align: left;
}

table {
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

code.language-cpp{
    color: white;
}

#readme{
text-align: left;
}

.btn-es{
    background-color: #36BDA2;
    color: white;
}

.app_body {
    color: #fff;
    background-color: #ffffff;
}


.app_column {
    align-items: center;
    justify-content: center;
    color: #273A8B;
    background-color: #fff;
    padding: 10px;
    border: 1px dashed;
    border-color: #273A8B;
    margin: 0px;

}

.app_column_top {
    border-width: 1px 1px 0 1px;
}

.app_column_round_top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.app_column_round_bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nested_list {
    justify-content: left;
    align-items: left;
    margin: 20px;
    text-align: left;
}

.daisystyle {
    color: #fff;
    background-color: gray;
    padding: 10px;
    border: solid;
    border-radius: 15px;
    border-color: #ffb600;
    margin: 5px;

}

